<style>
    .menu {
        display: table;
        margin: 0 auto;
        font-size: larger;
    }
</style>
<div class="menu">
    <a href="/">Home</a> |
    <a href="/departamentos">Departamentos</a> |
    <a href="/hospitales">Hospitales</a> |
    <a href="/insertardept">Insertar Departamento</a> |
    <a href="/eliminardept">Eliminar Departamento</a> |
    <a href="/modificardept">Modificar Departamento</a> |
    <a href="/detallesdept">Detalles Departamento</a> |
    <a href="/empleadosdept">Empleados Departamento</a>
</div>