<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'informacion/menu.html' %}
    <h1>Sumar números</h1>
    <form method="post">
        {% csrf_token %}
        <label>Número 1</label>
        <input type="number" name="cajanumero1"/>
        <br/>
        <label>Número 2</label>
        <input type="number" name="cajanumero2"/>
        <button>
            Sumar números
        </button>
    </form>
    {% if suma %}
    <h1>
        La suma de {{numero1}} mas {{numero2}} es: {{suma}}
    </h1>
    {% endif %}
</body>
</html>